.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border: 3px solid rgb(78, 78, 78);
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2.5rem;
}

.noMatch {
  background: rgb(219, 219, 219);
}

.inWord {
  background: var(--inWord);
}

.inPlace {
  background: var(--inPlace);
}

.letter:not(:empty) {
  animation: pop 100ms;
}

@keyframes pop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
