.error {
  text-align: center;
  color: var(--error);
}

.resetButton {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  border: none;
  padding: 0.5rem 1rem;
  background: var(--btnBackground);
  border-radius: 0.3rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--textPrimary);
}

.resetButton:focus {
  outline: 5px solid var(--borders);
}

.resetButton:hover {
  background: var(--btnBackgroundHover);
}

.resetButton:active {
  background: var(--btnBackgroundActive);
}
