.key {
  height: 3.2rem;
  min-width: 2.1rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0.3rem;
  background: var(--btnBackground);
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 75ms;
  color: var(--textPrimary);
}

.key:hover {
  background: var(--btnBackgroundHover);
}

.key:active {
  background: var(--btnBackgroundActive);
}

.notInWord {
  filter: brightness(0.75);
}

.inWord {
  background: var(--inWord);
}

.inPlace {
  background: var(--inPlace);
  animation: popOut 100ms;
}

@keyframes popOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
